<div class="menu-overlay @NavMenuCssClass fade" @onclick="CloseNavMenu"></div>
<div class="ps-3 navmenu">
    <div class="container-fluid">
        <a class="navmenu-brand" href="" @onclick="ToggleNavMenu">
            <img src="icon.svg" width="40" height="40" alt="icon" />
            <span>MoneyTrackr</span>
        </a>
        <button title="Navigation menu" class="navmenu-toggler" @onclick="ToggleNavMenu">
            <span class="navmenu-toggler-icon"></span>
        </button>
        <nav class="@NavMenuCssClass menu-container">
            <div class="menu menu-left">
                <div class="navmenu-item px-3">
                    <NavLink class="navmenu-link" href="" Match="NavLinkMatch.All" @onclick="CloseNavMenu">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
            </div>
            <div class="menu menu-right">
                <div class="navmenu-item px-3">
                    <NavLink class="navmenu-link" href="counter" @onclick="CloseNavMenu">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                <div class="navmenu-item px-3">
                    <NavLink class="navmenu-link" href="fetchdata" @onclick="CloseNavMenu">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </div>
            </div>
        </nav>
    </div>
</div>

@code {
    private const string CloseClass = "collapse";
    private string? NavMenuCssClass = CloseClass;

    private void ToggleNavMenu()
    {
        NavMenuCssClass = NavMenuCssClass is null ? CloseClass : null;
    }

    public void CloseNavMenu()
    {
        NavMenuCssClass = "collapse";
    }
}
