.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.navmenu {
    background-color: #53CDB5 !important;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .navmenu {
        padding: 0.25rem;
    }
}

.navmenu > .container-fluid {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .navmenu > .container-fluid {
        flex-wrap: nowrap;
        justify-content: flex-start !important;
    }
}

.navmenu-brand {
    display: flex;
    align-items: center;
    font-size: x-large !important;
    font-weight: bold;
    text-decoration: none !important;
    color: darkgreen !important;
    margin-right: 16px;
}

.navmenu-brand span {
    margin-left: 0.25em;
    vertical-align: middle;
}

.navmenu-brand:focus, .navmenu-brand:hover {
    color: darkgreen !important;
}

@media (max-width: 767px) {
    .collapse:not(.show) {
        max-height: 0;
    }
}

.menu-container {
    display: flex !important;
    justify-content: space-between;
    flex-basis: 100%;
    overflow: hidden;
}

@media (max-width: 767px) {
    .menu-container {
        flex-direction: column;
        transition: max-height 0.35s ease;
    }

    .menu-container:not(.collapse) {
        max-height: 172px;
    }
}

.menu {
    display: flex !important;
}

@media (max-width: 767px) {
    .menu {
        flex-direction: column;
    }

    .menu:first-child {
        margin-top: 16px;
    }
}

.navmenu-item {
    font-size: 0.9rem;
    padding: 16px 8px !important;
}

@media (max-width: 767px) {
    .navmenu-item {
        padding: 2px 0 !important;
    }
}

.navmenu-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 2px darkgreen !important;
    display: none !important;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

@media (max-width: 767px) {
    .navmenu-toggler {
        display: inline !important;
    }
}

.navmenu-toggler:hover {
    background-color: rgba(0,100,0,.5) !important;
}

.navmenu-toggler:focus {
    background-color: rgba(0,100,0,.5) !important;
    box-shadow: inset 0 0 0 0.25rem;
    color: rgba(255,255,255,.55);
}

.navmenu-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,100,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navmenu-item ::deep .navmenu-link {
    font-weight: bold;
    font-size: medium;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    color: darkgreen;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.navmenu-item ::deep .navmenu-link.active {
    background-color: darkgreen;
    color: #fff;
}

.navmenu-item ::deep .navmenu-link:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .navmenu-item ::deep .navmenu-link:hover {
        text-decoration: none;
        background-color: inherit !important;
        color: rgba(0,100,0,.5) !important;
    }

    .navmenu-item ::deep .navmenu-link.active:hover {
        background-color: rgba(0,100,0,.5) !important;
        color: #fff !important;
    }
}

@media (max-width: 767px) {
    .menu-overlay {
        display: block !important;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        z-index: 9999;
        opacity: 0;
        transition: opacity 200ms;
    }

    .menu-overlay:not(.collapse) {
        opacity: 0.25;
    }
}