<h1 class="text-center animate-top">About the Developer</h1>
<br />
<div class="row">
    <div class="text-center animate-left col-sm-5">
        <img src="~/images/Profile.jpg" class="rounded-circle" width="200" />
        <br />
        <br />
        <a class="social" href="https://www.linkedin.com/in/rolandomalena/" target="_blank">
            <img src="~/images/linkedin.png" width="48" title="LinkedIn Profile" />
        </a>
        &nbsp;	&nbsp;
        <a class="social" href="https://github.com/RolandoMalena" target="_blank">
            <img src="~/images/github.png" width="48" title="GitHub Profile" />
        </a>
    </div>
    <div class="text-center animate-right col-sm align-self-center">
        <strong>Rolando Malena</strong> has spent over <strong>@(DateTime.Today.Year - 2012)+</strong> years of experience developing applications
        using C# and has worked on nine projects for small and medium companies, developing desktop, web, and mobile applications.
        He specializes in developing desktop applications and web APIs as a back-end developer. He is very humble and eager to learn
        and grow more as a professional engaging with people and newer technologies as time goes on.
    </div>
</div>

<br />
<br />
<br />

<div class="card animate-bottom">
    <div class="card-header">
        <strong>Employment History</strong>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item justify-content-between align-items-center">
            <h4>Back-end Software Developer</h4>
            <h6>IQzone (2018-2020) - <a href="https://iqzone.com" target="_blank">https://iqzone.com</a></h6>
            <ul class="separated-list">
                <li>Worked and maintained the external analytics import process to import and massage data from 25+ web APIs.</li>
                <li>Implemented a retry mechanism on the above process to perform multiple attempts when requesting the metrics via HTTP requests improving the reliability by 200%.</li>
                <li>Refactored 90% of the code for the above process increasing maintainability by 300%, saving significant time when implementing and/or updating external analytics sources.</li>
                <li>Improved a telemetry data import process by designing and implementing a multi-threaded workflow that accelerated the import process by 300%.</li>
                <li>Implemented workload to send specific saved data to a development environment through web requests, allowing us to test with real data without compromising it.</li>
                <li>Updated the application settings workflow to hold values for multiple environments and the interpretation of such within the application.</li>
                <li>Worked as part of a development team to improve the tools and user experience for the ad-operations team.</li>
            </ul>
            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Framework</span>
            <span class="badge badge-primary badge-pill">ASP.NET</span>
            <span class="badge badge-primary badge-pill">Power BI</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
            <span class="badge badge-primary badge-pill">SVN</span>
        </li>
        <li class="list-group-item justify-content-between align-items-center">
            <h4>Software Developer</h4>
            <h6>Tienda Malen S.R.L. (2012-2018)</h6>
            <ul class="separated-list">
                <li>Developed an inventory system to keep track of purchased and sold products that accelerated decision making by 500% while purchasing new products.</li>
                <li>Supported reading and generating product barcodes incresing efficiency by 300% when selling products, dispatching customers three times faster.</li>
                <li>Supported managing customers, invoices, payments, etc.</li>
                <li>Maintained and enhanced such applications and made sure the software is always on production.</li>
                <li>Managed database integrity.</li>
            </ul>
            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Framework</span>
            <span class="badge badge-primary badge-pill">WPF</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
        </li>
        <li class="list-group-item justify-content-between align-items-center">
            <h4>Software Developer by Contract</h4>
            <h6>Centro Médico Núñez Hernández (2016-2017)</h6>
            <ul class="separated-list">
                <li>Developed a new multiple inventory system to control inventory within multiple departments that reduced time in decision making by 800% deciding what merchandise was needed.</li>
                <li>Implemented product management and purchases from the main department to easily look quantities of products on each department, reducing consulting time by 500%.</li>
                <li>Implemented the ability to transfer products within departments, consume products on patients, etc.</li>
                <li>Supported reading and generating product barcodes speeding up by 300% the process of reporting transfers between departments and consumed products.</li>
                <li>Created a complex algorithm to manage the inventories from the database.</li>
            </ul>
            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Framework</span>
            <span class="badge badge-primary badge-pill">WPF</span>
            <span class="badge badge-primary badge-pill">MVVM</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
        </li>
    </ul>
</div>

<div class="card animate-bottom">
    <div class="card-header">
        <strong>Projects</strong>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item justify-content-between align-items-center">
            <h4>MoneyTrackr (2020)</h4>

            <p>
                Developed an online money tracking system where users can register an account
                and start creating entries as deposits or withdrawals along with a User Management system.
                It was a personal project.
            </p>

            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Core</span>
            <span class="badge badge-primary badge-pill">ASP.NET Core</span>
            <span class="badge badge-primary badge-pill">HTML5</span>
            <span class="badge badge-primary badge-pill">CSS3</span>
            <span class="badge badge-primary badge-pill">JavaScript</span>
            <span class="badge badge-primary badge-pill">Bootstrap</span>
            <span class="badge badge-primary badge-pill">jQuery</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
            <span class="badge badge-primary badge-pill">Entity Framework Core</span>
        </li>
        <li class="list-group-item justify-content-between align-items-center">
            <h4>Payroll System for Meat Suppliers (2018)</h4>

            <p>
                Developed a desktop application that allows users to register departments, occupations, employees, incentives,
                extra hours, discounts, etc. It generates a monthly reports with details of how much to pay each employee based on
                the inputted data.
            </p>

            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Framework</span>
            <span class="badge badge-primary badge-pill">WPF</span>
            <span class="badge badge-primary badge-pill">MVVM</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
            <span class="badge badge-primary badge-pill">Entity Framework</span>
        </li>
        <li class="list-group-item justify-content-between align-items-center">
            <h4>Online Repository for Teachers (2017)</h4>

            <p>
                Developed an online repository that would allow registered teachers to upload files
                (Word documents, PowerPoint presentations, PDFs, Image files, etc.) as content for
                multiple subjects that would be downloadable in the future.
            </p>

            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Framework</span>
            <span class="badge badge-primary badge-pill">ASP.NET MVC</span>
            <span class="badge badge-primary badge-pill">HTML5</span>
            <span class="badge badge-primary badge-pill">CSS3</span>
            <span class="badge badge-primary badge-pill">JavaScript</span>
            <span class="badge badge-primary badge-pill">Bootstrap</span>
            <span class="badge badge-primary badge-pill">jQuery</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
            <span class="badge badge-primary badge-pill">Entity Framework</span>
        </li>
        <li class="list-group-item justify-content-between align-items-center">
            <h4>SnapDog (2016 - 2017)</h4>
            <h6><a href="https://www.microsoft.com/en-us/p/snapdog/9nblggh4wr96" target="_blank">https://www.microsoft.com/en-us/p/snapdog/9nblggh4wr96</a></h6>

            <p>
                Develop a UWP application that would allow its users to see and save locally
                funny pictures of dogs gathered from multiple sources that updates daily.
                It was a personal project.
            </p>

            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Framework</span>
            <span class="badge badge-primary badge-pill">UWP</span>
            <span class="badge badge-primary badge-pill">MVVM</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
        </li>
        <li class="list-group-item justify-content-between align-items-center">
            <h4>Patient Management System for a Medical Dispensary (2016)</h4>

            <p>
                Developed a desktop application so employees in a medical dispensary could
                register, diagnose, treat, and apply medications to patients.
            </p>

            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Framework</span>
            <span class="badge badge-primary badge-pill">WPF</span>
            <span class="badge badge-primary badge-pill">MVVM</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
            <span class="badge badge-primary badge-pill">Entity Framework</span>
        </li>
        <li class="list-group-item justify-content-between align-items-center">
            <h4>Currency Calculator (2015 - 2016)</h4>
            <h6><a href="https://www.microsoft.com/en-us/p/currency-calculator/9nblggh0n8cs" target="_blank">https://www.microsoft.com/en-us/p/currency-calculator/9nblggh0n8cs</a></h6>

            <p>
                Developed a Windows Phone 8 application that would allow its users to convert between
                currencies with a few taps. It was later ported as a UWP to be able to download from
                the Microsoft Store. It was a personal project.
            </p>

            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Framework</span>
            <span class="badge badge-primary badge-pill">Windows Phone 8</span>
            <span class="badge badge-primary badge-pill">UWP</span>
            <span class="badge badge-primary badge-pill">MVVM</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
        </li>
        <li class="list-group-item justify-content-between align-items-center">
            <h4>eCommerce Website to Advertise Cars on Sale (2015)</h4>

            <p>
                Developed a web application that users and companies could register to
                and buy advertisement plans to post any vehicle on sale to make it visible to many potential buyers.
            </p>

            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Framework</span>
            <span class="badge badge-primary badge-pill">Silverlight</span>
            <span class="badge badge-primary badge-pill">WCF</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
        </li>
        <li class="list-group-item justify-content-between align-items-center">
            <h4>Online Encyclopedia of Mathematics for Children (2013)</h4>

            <p>
                Developed an online encyclopedia that allowed authorized users to add
                and manipulate content (text, images, videos, hyperlinks) that would
                allow children to learn simple concepts in the field of mathematics.
            </p>

            Technologies used:
            <span class="badge badge-primary badge-pill">C#</span>
            <span class="badge badge-primary badge-pill">.NET Framework</span>
            <span class="badge badge-primary badge-pill">Silverlight</span>
            <span class="badge badge-primary badge-pill">WCF</span>
            <span class="badge badge-primary badge-pill">Visual Studio</span>
            <span class="badge badge-primary badge-pill">SQL Server</span>
        </li>
    </ul>
</div>

<div class="row">
    <div class="animate-left col-sm">
        <div class="card">
            <div class="card-header">
                <strong>Languages</strong>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    English
                    <span class="badge badge-primary badge-pill">Advanced</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Spanish
                    <span class="badge badge-primary badge-pill">Native</span>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-header">
                <strong>Certifications (click to visualize)</strong>
            </div>
            <div class="list-group list-group-flush">
                <a href="~/images/Certificates/ComputerScience.jpg" class="list-group-item list-group-item-action">
                    <strong>Computer Science Degree</strong>
                </a>
                <a href="~/images/Certificates/Database.jpg" class="list-group-item list-group-item-action">
                    Databases with SQL Server 2008 R2
                </a>
                <a href="~/images/Certificates/CSharp.jpg" class="list-group-item list-group-item-action">
                    Programming with Visual C# 2010
                </a>
                <a href="~/images/Certificates/ASP.jpg" class="list-group-item list-group-item-action">
                    Web Development with ASP.NET 4.0
                </a>
                <a href="~/images/Certificates/Techniques.jpg" class="list-group-item list-group-item-action">
                    Techniques for Software Development
                </a>
                <a href="~/images/Certificates/CSharp-Jumpstart.jpg" class="list-group-item list-group-item-action">
                    Programming in C# Jump Start
                </a>
                <a href="~/images/Certificates/MVVM.jpg" class="list-group-item list-group-item-action">
                    Introduction to MVVM
                </a>
                <a href="~/images/Certificates/HTML&CSS.jpg" class="list-group-item list-group-item-action">
                    HTML5 & CSS3 Fundamentals: Development for Absolute Beginners
                </a>
                <a href="~/images/Certificates/JS.jpg" class="list-group-item list-group-item-action">
                    JavaScript Fundamentals for Absolute Beginners
                </a>
                <a href="~/images/Certificates/ASPNETMVC5.jpg" class="list-group-item list-group-item-action">
                    The Complete ASP.NET MVC 5 Course
                </a>
                <a href="~/images/Certificates/Xamarin.jpg" class="list-group-item list-group-item-action">
                    Xamarin Forms: Build Native Cross-platform Apps with C#
                </a>
            </div>
        </div>
    </div>
    <div class="animate-right col-sm">
        <div class="card">
            <div class="card-header">
                <strong>Skills</strong>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    .NET Framework and .NET Core (C#)
                    <span class="badge badge-primary badge-pill">Expert</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    ASP.NET Core
                    <span class="badge badge-primary badge-pill">Expert</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Web API
                    <span class="badge badge-primary badge-pill">Expert</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Entity Framework Core
                    <span class="badge badge-primary badge-pill">Expert</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    WPF (Windows Presentation Foundation)
                    <span class="badge badge-primary badge-pill">Expert</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Windows Forms
                    <span class="badge badge-primary badge-pill">Expert</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    MVVM (Model-View-ViewModel) Design Pattern
                    <span class="badge badge-primary badge-pill">Expert</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    SQL Server
                    <span class="badge badge-primary badge-pill">Strong</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    HTML5, CSS3, JavaScript
                    <span class="badge badge-primary badge-pill">Strong</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Bootstrap
                    <span class="badge badge-primary badge-pill">Strong</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    jQuery
                    <span class="badge badge-primary badge-pill">Strong</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Microsoft Silverlight
                    <span class="badge badge-primary badge-pill">Competent</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Windows Phone 7, 8 and 8.1
                    <span class="badge badge-primary badge-pill">Competent</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    UWP (Universal Windows Platform) for Windows 10
                    <span class="badge badge-primary badge-pill">Competent</span>
                </li>
            </ul>
        </div>
    </div>
</div>