<div class="row">
    <div class="animate-left col-sm col-md">
        <h1 class="text-center">Welcome to MoneyTrackr!</h1>
        <hr />
        <div class="text-justify">
            <p>
                MoneyTrackr is a web application that allows you to post and manage deposits and withdrawals entries.
                It is a test project built as a development demonstration. It is a <strong>SPA (Single Page Application)</strong>
                developed with <strong>ASP.NET Core 3.1</strong> with <strong>Web API</strong> using
                <strong>HTML5, CSS3, Bootstrap 4, JavaScript and jQuery</strong> for the front end and
                <strong>C# with Entity Framework Core</strong> for the back end and <strong>SQL Server</strong>
                for the database and it is currently hosted in <strong>Azure</strong>.
            </p>

            <p>
                The SPA functionality works by making HTTP requests using AJAX with jQuery to dynamically
                load HTML from the server. Data is loaded and saved with HTTP requests through our API.
                The API is public and you are free to play around with it, <strong><a href="~/api/doc" target="_blank">click here</a></strong>
                for the Documentation.
            </p>

            <p>
                <strong>This is not a real service so real data should never be submitted.</strong> Feel free
                to register a user with a any username and play around. The Source Code is posted on
                <strong><a href="https://github.com/RolandoMalena/moneytrackr" target="_blank">GitHub.</a></strong>
                To know more about the developer, <strong><a href="#About">click here.</a></strong>
                If you don't want to register, you can always use the accounts at the bottom to try it out.
            </p>
        </div>
    </div>

    <div class="animate-right col-sm-3 col-md-4 jumbotron">
        <partial name="_LoginPartial" />
        <partial name="_RegisterPartial" />
    </div>
</div>
<br />

<div class="row animate-bottom">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Regular User</h5>
                <p class="card-text">This is a regular user, he/she can read, create, edit and delete his/her own entries.</p>

                <form onsubmit="return users.logIn(this)">
                    <input name="Username" type="hidden" value="regular" />
                    <input name="Password" type="hidden" value="regular1" />
                    <button class="btn btn-primary">
                        <span class=" icon icons-login"></span> &nbsp Log in as a Regular User
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User Manager</h5>
                <p class="card-text">This is a user manager, he/she can read, create, edit and delete other users and the entries of every user.</p>

                <form onsubmit="return users.logIn(this)">
                    <input name="Username" type="hidden" value="manager" />
                    <input name="Password" type="hidden" value="manager1" />
                    <button class="btn btn-primary"> 
                        <span class=" icon icons-login"></span> &nbsp Log in as a User Manager
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>