<h1 class="text-center animate-top">Manage Entries</h1>
<br />

<div id="details" class="entry-summary animate-left">
    <div class="card">
        <div class="card-header text-center">
            <h4>Summary</h4>
        </div>

        <ul class="list-group list-group-horizontal list-group-flush">
            <li class="list-group-item flex-fill text-center">
                <strong>Current Balance</strong>
                <h4><span id="balance" class="badge badge-primary badge-pill">0.00</span></h4>
            </li>
            <li class="list-group-item flex-fill text-center">
                Total Deposits
                <h4><span id="totalDeposits" class="badge badge-primary badge-pill">0.00</span></h4>
            </li>
            <li class="list-group-item flex-fill text-center">
                Total Withdrawals
                <h4><span id="totalWithdrawals" class="badge badge-primary badge-pill">0.00</span></h4>
            </li>
        </ul>
    </div>
</div>

<div class="animate-right d-flex flex-row-reverse bd-highlight">
    <partial name="_FilterEntriesPartial" model="new MoneyTrackr.ViewModels.FilterEntriesViewModel()" />
</div>

<table id="entries" class="table table-hover table-responsive-sm table-sm animate-bottom">
    <colgroup>
        <col style="width:5%">
        <col style="width:15%">
        <col style="width:50%">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:auto">
        <col style="width:auto">
    </colgroup>
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Balance</th>
            <th class="padding-right-zero"></th>
            <th class="bg-white padding-right-zero">
                <button id="btnAdd" onclick="entries.loadForm()" class="btn btn-info btn-sm">
                    <span class=" icon icons-add"></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<input type="hidden" id="currentUser" />
<partial name="_Modal" />

<script>
if(sessionStorage.getItem("roleName") != '@Constants.Role.RegularUserRoleName')
    entries.getUsers();

content.find("#searchForm").submit();
</script>
