<h1 class="text-center animate-top">Manage Account</h1>
<br />

<div class="row">
    <div class="col-auto spacer-bottom"></div>
    <div class="animate-left col-sm-5 jumbotron">
        <partial name="_ChangeUsernamePartial" />
    </div>
    <div class="col-auto">
        <br />
    </div>
    <div class="animate-right col-sm-5 jumbotron">
        <partial name="_ChangePasswordPartial" />
    </div>
</div>