<h1 class="text-center animate-top">Manage Account</h1>
<br />
<div class="row">
    <div class="animate-bottom col-sm-6 jumbotron jumbotron-center">
        <partial name="_ChangePasswordPartial" />
    </div>
</div>