<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoneyTrackr</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/icons.css" />
</head>
<body>
    <header id="navbar" class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <nav class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <label class="navbar-brand">
                    <a href="#Home">
                        <img src="~/images/icon.svg" width="40" height="40" class="d-inline-block align-top" alt="">
                        MoneyTrackr
                    </a>
                </label>
            </nav>
            <div id="navbarContent" class="navbar-collapse collapse">
                <ul class="navbar-nav nav-pills">
                    <li id="lnkHome" class="nav-item">
                        <a class="nav-link" href="#Home">Home</a>
                    </li>
                    <li id="lnkUsers" class="nav-item">
                        <a class="nav-link" href="#Users">Users</a>
                    </li>
                    <li id="lnkEntries" class="nav-item">
                        <a class="nav-link" href="#Entries">Entries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#About">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-pills ml-md-auto">
                    <li id="lnkManage" class="nav-item">
                        <a class="nav-link" href="#Manage"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/api/doc" target="_blank">API Documentation</a>
                    </li>
                    <li id="lnkLogOff" class="nav-item">
                        <a class="nav-link" href="javascript:users.logOff()">
                            Log off
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="container border-top footer text-muted fixed-bottom">
        <div class="row">
            <div class="col-auto footer-section padding-right-zero">&copy; @DateTime.Now.Year - MoneyTrackr by <strong><a href="#About">Rolando Malena</a></strong></div>
            <div class="col padding-sides-zero"></div>
            <div class="col-auto footer-section padding-left-zero">
                <a class="social" href="https://www.linkedin.com/in/rolandomalena/" target="_blank">
                    <img src="~/images/linkedin.png" width="32" title="LinkedIn Profile" />
                </a>
                &nbsp;
                <a class="social" href="https://github.com/RolandoMalena" target="_blank">
                    <img src="~/images/github.png" width="32" title="GitHub Profile" />
                </a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/users.js" asp-append-version="true"></script>
    <script src="~/js/manage.js" asp-append-version="true"></script>
    <script src="~/js/entries.js" asp-append-version="true"></script>
    <script src="~/js/modalHandler.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
